<!-------------------------------------------------- link to the tutorial-----------------------------------------------------------
for the sticky note : https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934

------------------------------------------------------------------------------------------------------------------------------------>

<!-- SERVICES -->
<div style="background-color: bisque;">
<section id="services" class="module">

    <div class="wrapper">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt">Principes</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-compose-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Liste de course</h5>
                    <div class="content-box-text">
                       Créer une liste de course et ajoute les ingrédients.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-gear-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Valide</h5>
                    <div class="content-box-text">
                        Valide ta liste de course pour remplir automatiquement ton frigo.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-monitor-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Recettes</h5>
                    <div class="content-box-text">
                         Trouve des recettes en fonction des ingrédients dans ton frigo. Tu peux aussi donner ton avis sur les recettes.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-lightbulb-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Une idée de recette ?</h5>
                    <div class="content-box-text">
                        Tu veux créer ta propre recette et la partager à tout le monde ? Pas de problème c'est possible !
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-clock-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Evenements</h5>
                    <div class="content-box-text">
                       Tu peux créer des évènements et inviter tes amis à participer. Tu pourras avoir accès au contenu de leur frigo.
                       Vous pourrez trouver des recettes en fonction de tous vos ingrédients.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-chatbubble-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Collaboratif</h5>
                    <div class="content-box-text">
                        Partage des recettes et ton frigo !
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

        </div>

    </div>

</section>

<!------------Notes------------------------------>
<ul>
    <li>
      <a>
        <h2>Chez maman</h2>
        <p>
            <li>
                1 kg de boeuf
            </li>
            <li>
                5 bananes
            </li>
            <li>
               Lait
            </li>
            <li>
                Mozarella
             </li>
             <li>
                1 chou
             </li>
             <li>
                Oignon
             </li>
        </p>
      </a>
    </li>
    <li>
        <a>
          <h2>Week-end</h2>
          <p>
              <li>
                 Chips
              </li>
              <li>
                  Tomates cerises
              </li>
              <li>
                 Pizza
          </p>
        </a>
      </li>
      <li>
        <a>
          <h2>Chez mamie</h2>
          <p>
              <li>
                  Patates
              </li>
              <li>
                  Carottes
              </li>
              <li>
                 Célerie
              </li>
              <li>
                  Tarte au fraise
               </li>
          </p>
        </a>
      </li>

  </ul>

  <div class="wrapper">

    <div class="item">
      <div class="polaroid"><img src="https://cdn.pixabay.com/photo/2017/09/22/19/05/casserole-dish-2776735_1280.jpg">
        <div class="caption">Cocottes de légumes</div>
      </div>
    </div>
  
    <div class="item">
      <div class="polaroid"><img src="https://cdn.pixabay.com/photo/2017/03/31/18/02/strawberry-dessert-2191973_1280.jpg">
        <div class="caption">Dessert aux fraises</div>
      </div>
    </div>
  
    <div class="item">
      <div class="polaroid"><img src="https://cdn.pixabay.com/photo/2018/08/29/19/03/steak-3640560_1280.jpg">
        <div class="caption">Steak de boeuf </div>
      </div>
    </div>
  
  
  </div>

</div>
